body{
    background:#f5f3ff;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background:#5b21b6;
}

.btn-morado{
    background:#7c3aed;
    color:white;
    border:none;
}

.btn-morado:hover{
    background:#6d28d9;
}

.card{
    border:none;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.table thead{
    background:#ede9fe;
}

h2{
    color:#4c1d95;
}
